<%= form_tag({:action => :shared_credential_login}, {:id => 'shared_credential_login', :class => 'container-fluid'}) do %>
  <fieldset class="container-fluid">
    <div class="form-row">
      <legend class="col-12 text-center">Access Code</legend>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <label class="sr-only" for="credential">Enter Code</label>
        <%= password_field_tag 'credential', '', :placeholder => 'Enter Code', :class => 'col-12 p-2', :title => 'code' %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= render :partial => 'terms_checkbox' %>
        <%= button_tag('Sign In', :class => 'btn btn-light shadow-sm btn-lg', :data => { :disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span> Please wait...'.html_safe }) %>
      </div>
    </div>
  </fieldset>
<% end %>
