<div class="container-fluid">
  <fieldset class="container-fluid">
    <legend class="col-12 text-center">Don't have an account?</legend>
    <div class="form-group col-12">
      <%= link_to 'Create Login', { :action => :quick_purchase }, { :class => 'col-12 d-block mx-auto text-center' } %>
    </div>
  </fieldset>
</div>
