<div class="container-fluid">
  <div class="row">
    <h3 class="col-12 text-center">Please Wait</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-center">
        Please wait a moment while we establish your Internet session...
      </p>
      <div class="col-12 text-center">
        <div class="spinner-border mx-auto my-5" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
