<form class="container-fluid">
  <fieldset class="container-fluid">
    <div class="form-row">
    <legend class="col-12 text-center">Please supply the following information</legend>
    </div>
    <%= render :partial => 'survey_questions_fields' %>
  </fieldset>
</form>
