<aside id="termsModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <header class="modal-header">
      <h2>Terms of Service</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </header>
    <main class="modal-body">
      <%= render :partial => 'tos' %>
    </main>
    <footer class="modal-footer">
      <button type="button" class="btn btn-lg-secondary" data-dismiss="modal">Close</button>
    </footer>
  </div>
</aside>
