<% 
  welcome_login = ''
  if @login_session
    welcome_login = @login_session.login.capitalize
  elsif @custom_portal
    welcome_login = 'to ' + @custom_portal.name
  end
%>
<h1 class="welcome text-center text-light">
  <%#= t('.welcome', :login => welcome_login) %>
</h1>
