<% if @current_account_or_token.can_set_psk? %>
  <div class='row'>
  <div class="col-12">
    <h4>Manage Wireless</h2>
  </div>
  </div>
  <div class="row">
    <div class="col=12">
      <p>
        Setting an encryption key enables you to update the wireless passphrase used to encrypt your wireless traffic.
      </p>
      <p>After updating your pre-shared key, you will need to update your device's wireless settings to use the new key.</p>
      <p>
        Only devices registered to your account may use this key.  To onboard a new device,
        add its mac to your device list above.
      </p>
      <p>
        Pre-shared keys must be at least 8 characters.
      </p>
      <%= form_for( @current_account_or_token, :as => :current_account_or_token, :url => { :action => :psk_update },
        :html => { :class => 'container-fluid', :name => 'account_form', :id => 'account_form' }) do |f| %>
        <% unless @current_account_or_token.errors.empty? %>
          <div class="col-12">
            <div class="error-messages">
              <%= error_messages_for :current_account_or_token %>
            </div>
          </div>
        <% end %>
        <div>
          <%= f.text_field :pre_shared_key, :placeholder => 'WPA2 Pre-shared Key', :class => 'form-control form-control-lg' %>
        </div>
        <div>
          <%= button_tag('Update', :class => 'd-block mx-auto col-6 btn btn-lg btn-light shadow-sm', 
            :data => { :disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span> Please wait...'.html_safe, :confirm => "Changing this value will cause your wireless encryption configuration to change.\n\nYou must update the settings on your wireless device after changing.\n\nContinue?"}) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
