<div class="container-fluid">
<div class="row">
<div class="col-12">
  <h2 class='text-center'>Status</h2>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <% if @current_account %>
      <%= render :partial => 'online_usage' %>
      <%= render :partial => 'current_usage_plan' %>
    <% end %>
  </div>
</div>
</div>
