<div class="container-fluid">
  <div class="row">
    <p class="col">We were unable to complete the login process.  Please notify support if this issue persists.</p>
  </div>
  <div class="row">
    <%= link_to('Try Again', { :action => :index }, { :class => 'd-block mx-auto col-6 text-primary', :data => { :disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span> Please wait...'.html_safe } }) %>
  </div>
</div>
