<div class="container-fluid">
  <div class="row">
    <p class="col">We were unable to complete the login process.  Please notify support if this issue persists.</p>
  </div>
  <div class="row">
    <%= link_to('Try Again', { :action => :index }, { :class => 'd-block mx-auto col-6 btn btn-light shadow-sm btn-lg', :data => { :disable_with => 'Please wait...' } }) %>
  </div>
</div>
