<div class="container-fluid">
  <div class="row">
  <div class="col-12">
    <h2 class='text-center'>Terms of Service</h2>
  </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-center">
        Before continuing, you must agree to the Terms of Service for this network.
      </p>
      <%= render :partial => 'tos' %>
      <br/>
      <br/>
      <%= form_tag :action => :tos_submit do %>
        <p class="text-center"><label for='tos'>I agree to the Terms of Service: </label>
          <%= check_box('tos', 'checked', { }, 'yes', 'no') %></p>
        <%= button_tag('Continue', :class => 'd-block mx-auto col-6 btn btn-lg btn-light shadow-sm', :data => { :disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span> Please wait...'.html_safe }) %>
      <% end %>
    </div>
  </div>
</div>
